<!-- property binding -->

<h1 [textContent]="propertyBindingData"></h1>
<input type="text" [placeholder]="propertyBindingData" />
<input type="button" [value]="propertyBindingButton" />

<!-- string interpolation -->

<h1>{{ interpolationData }}</h1>
<input type="text" placeholder="{{interpolationData}}" />

<!-- attribute binding -->
<table>
  <tr>
    <td [attr.colspan]="clspan">hello world</td>
    <td bind-attr.colspan="clspan">hello world</td>
    <td attr.colspan="{{clspan}}">hello world</td>
  </tr>
</table>

<!-- style binding -->

<input type="text" [style.borderStyle]="'dashed'" />
<p
  [ngStyle]="{
  'background-color' : 'red'
}"
>
  my name is alok
</p>
